* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

ol, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
